In [1]:
import numpy as np
import pandas as pd

In [2]:
data1 = pd.read_csv('train.csv')

In [212]:
data1.head()

       pet_id           issue_date  ... breed_category  pet_category
0  ANSL_69903  2016-07-10 00:00:00  ...            0.0             1
1  ANSL_69902  2016-07-10 00:00:00  ...            0.0             1
2  ANSL_66892  2013-11-21 00:00:00  ...            0.0             2
3  ANSL_69750  2014-09-28 00:00:00  ...            2.0             4
4  ANSL_71623  2016-12-31 00:00:00  ...            0.0             2

[5 rows x 11 columns]

In [3]:
data1.isnull().mean()

pet_id            0.000000
issue_date        0.000000
listing_date      0.000000
condition         0.078418
color_type        0.000000
length(m)         0.000000
height(cm)        0.000000
X1                0.000000
X2                0.000000
breed_category    0.000000
pet_category      0.000000
dtype: float64

In [124]:
data = data1.drop(labels=["pet_id","issue_date","listing_date","breed_category","pet_category"],axis=1)

In [5]:
data.head()

   condition   color_type  length(m)  height(cm)  X1  X2
0        2.0  Brown Tabby       0.80        7.78  13   9
1        2.0         Pink       0.80        7.78  13   9
2        1.0        White       0.72       14.19  13   9
3        NaN        Brown       0.15       40.90  15   4
4        1.0        White       0.62       17.82   0   1

In [6]:
data_train = data[data["condition"].notnull()].drop("condition", axis=1)
data_test = data[data["condition"].isnull()].drop("condition", axis=1)

In [7]:
data_train.head()

    color_type  length(m)  height(cm)  X1  X2
0  Brown Tabby       0.80        7.78  13   9
1         Pink       0.80        7.78  13   9
2        White       0.72       14.19  13   9
4        White       0.62       17.82   0   1
5        Black       0.50       11.06  18   4

In [8]:
data_test.head()

   color_type  length(m)  height(cm)  X1  X2
3       Brown       0.15       40.90  15   4
22      Brown       0.45       14.00  11   4
36      White       0.03       21.90  13   9
39      Brown       0.73        8.22   0   6
44      Black       0.08       30.40   9   2

In [9]:
data_y = data[data["condition"].notnull()].condition

In [10]:
data_y.head()

0    2.0
1    2.0
2    1.0
4    1.0
5    2.0
Name: condition, dtype: float64

In [11]:
#encoding Categorical data - new way 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder',OneHotEncoder(sparse=False), [0])], remainder= 'passthrough')

In [12]:
ct.get_params

<bound method ColumnTransformer.get_params of ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('encoder',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               sparse=False),
                                 [0])],
                  verbose=False)>

In [13]:
ct.fit(data_train)

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('encoder',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               sparse=False),
                                 [0])],
                  verbose=False)

In [14]:
tmp = ct.transform(data_train)

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
classifier = RandomForestClassifier()

In [17]:
classifier.get_params

<bound method BaseEstimator.get_params of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)>

In [18]:
classifier.fit(tmp, data_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
pred_train = classifier.predict(tmp)

In [20]:
from sklearn.metrics import confusion_matrix
metrric = confusion_matrix(data_y, pred_train)

In [21]:
metrric

array([[6279,    1,    1],
       [   2, 6817,    0],
       [   0,    1, 4257]])

In [22]:
data_test.head()

   color_type  length(m)  height(cm)  X1  X2
3       Brown       0.15       40.90  15   4
22      Brown       0.45       14.00  11   4
36      White       0.03       21.90  13   9
39      Brown       0.73        8.22   0   6
44      Black       0.08       30.40   9   2

In [31]:
test_pred = classifier.predict(ct.transform(data_test)) 
test_pred

array([2., 2., 2., ..., 2., 0., 2.])

In [135]:
for index, row in data.iterrows():
  if math.isnan(row["condition"]):
    # print([[row["color_type"],row['length(m)'],row['height(cm)'], row['X1'], row['X2']]])
    # print(classifier.predict(ct.transform([[row["color_type"],row['length(m)'],row['height(cm)'], row['X1'], row['X2']]])))
    data.at[index, "condition"] = classifier.predict(ct.transform([[row["color_type"],row['length(m)'],row['height(cm)'], row['X1'], row['X2']]]))
    # print(row)

In [136]:
data_test = data[data["condition"].isnull()].drop("condition", axis=1)
data_test

Empty DataFrame
Columns: [color_type, length(m), height(cm), X1, X2]
Index: []

In [152]:
data.shape

(18835, 6)

In [138]:
data.head()

   condition   color_type  length(m)  height(cm)  X1  X2
0        2.0  Brown Tabby       0.80        7.78  13   9
1        2.0         Pink       0.80        7.78  13   9
2        1.0        White       0.72       14.19  13   9
3        2.0        Brown       0.15       40.90  15   4
4        1.0        White       0.62       17.82   0   1

In [142]:
data.isnull().mean()

condition     0.0
color_type    0.0
length(m)     0.0
height(cm)    0.0
X1            0.0
X2            0.0
dtype: float64

In [143]:
test = pd.read_csv("test.csv")

In [144]:
test.head()

       pet_id           issue_date         listing_date  ...  height(cm) X1  X2
0  ANSL_75005  2005-08-17 00:00:00  2017-09-07 15:35:00  ...       42.73  0   7
1  ANSL_76663  2018-11-15 00:00:00  2019-05-08 17:24:00  ...        6.71  0   1
2  ANSL_58259  2012-10-11 00:00:00  2018-04-02 16:51:00  ...       41.21  0   7
3  ANSL_67171  2015-02-13 00:00:00  2018-04-06 07:25:00  ...        8.46  7   1
4  ANSL_72871  2017-01-18 00:00:00  2018-04-26 13:42:00  ...       30.92  0   7

[5 rows x 9 columns]

In [146]:
test1 = test.drop(labels=["pet_id","issue_date","listing_date"], axis=1)

In [147]:
test1.head()

   condition    color_type  length(m)  height(cm)  X1  X2
0        0.0         Black       0.87       42.73   0   7
1        1.0  Orange Tabby       0.06        6.71   0   1
2        1.0         Black       0.24       41.21   0   7
3        1.0         Black       0.29        8.46   7   1
4        1.0         Brown       0.71       30.92   0   7

In [149]:
test1.isnull().mean()

condition     0.076685
color_type    0.000000
length(m)     0.000000
height(cm)    0.000000
X1            0.000000
X2            0.000000
dtype: float64

In [150]:
for index, row in test1.iterrows():
  if math.isnan(row["condition"]):
    test1.at[index, "condition"] = classifier.predict(ct.transform([[row["color_type"],row['length(m)'],row['height(cm)'], row['X1'], row['X2']]]))

In [151]:
test1.isnull().mean()

condition     0.0
color_type    0.0
length(m)     0.0
height(cm)    0.0
X1            0.0
X2            0.0
dtype: float64

In [155]:
Train_X = data
Train_Y = data1[['breed_category','pet_category']]
Train_X.head()

   condition   color_type  length(m)  height(cm)  X1  X2
0        2.0  Brown Tabby       0.80        7.78  13   9
1        2.0         Pink       0.80        7.78  13   9
2        1.0        White       0.72       14.19  13   9
3        2.0        Brown       0.15       40.90  15   4
4        1.0        White       0.62       17.82   0   1

In [157]:
 ct2 = ColumnTransformer(transformers = [('encoder',OneHotEncoder(sparse=False), [1])], remainder= 'passthrough')
 ct2.fit(Train_X)

ColumnTransformer(n_jobs=None, remainder='passthrough', sparse_threshold=0.3,
                  transformer_weights=None,
                  transformers=[('encoder',
                                 OneHotEncoder(categories='auto', drop=None,
                                               dtype=<class 'numpy.float64'>,
                                               handle_unknown='error',
                                               sparse=False),
                                 [1])],
                  verbose=False)

In [158]:
classifier2 = RandomForestClassifier()
classifier2.fit(ct2.transform(Train_X),Train_Y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [161]:
T_pred=classifier2.predict(ct2.transform(test1))

In [276]:
f = open('result.csv',"w")
count=0
f.write('pet_id,breed_category,pet_category')
for i in range(len(T_pred)):
    f.write(f'\n{test["pet_id"][i]},{int(Test_breed[i])},{int(Test_cat[i])} ')
    count+=1
f.close()

In [171]:
 from sklearn.ensemble import GradientBoostingClassifier

In [268]:
classifier3 =  GradientBoostingClassifier(n_estimators=220,verbose=1,learning_rate=0.5)
classifier3.fit(ct2.transform(Train_X),Train_Y.breed_category)

      Iter       Train Loss   Remaining Time
         1        9477.7882           24.71s
         2        7501.5222           26.41s
         3        6593.3079           26.50s
         4        6074.5481           26.72s
         5        5819.0168           26.83s
         6        5672.5341           26.93s
         7        5570.0320           26.94s
         8        5539.5563           27.69s
         9        5508.4632           27.68s
        10        5457.9586           27.47s
        11        5426.6552           27.24s
        12        5377.8079           27.09s
        13        5355.9590           26.99s
        14        5335.6193           26.97s
        15        5318.0167           26.83s
        16        5310.3794           26.77s
        17        5295.5285           26.62s
        18        5268.3102           26.46s
        19        5251.4448           26.25s
        20        5229.4786           26.07s
        21        5212.9073           26.09s
        22        5202.2804           25.97s
        23        5189.8689           25.81s
        24        5174.2859           25.64s
        25        5158.0985           25.48s
        26        5143.5274           25.31s
        27        5126.7587           25.14s
        28        5115.7340           25.08s
        29        5096.1427           24.93s
        30        5081.2078           24.79s
        31        5067.8423           24.61s
        32        5052.2319           24.46s
        33        5036.7577           24.30s
        34        5026.0941           24.17s
        35        5011.8512           24.01s
        36        4993.9381           23.90s
        37        4985.5226           23.74s
        38        4963.6481           23.61s
        39        4953.8396           23.45s
        40        4937.4540           23.30s
        41        4927.2472           23.16s
        42        4913.9969           23.00s
        43        4901.5818           22.85s
        44        4889.1715           22.79s
        45        4879.6908           22.67s
        46        4869.1307           22.53s
        47        4857.5846           22.39s
        48        4852.2968           22.26s
        49        4844.5033           22.12s
        50        4835.5696           21.97s
        51        4825.0225           21.83s
        52        4811.1514           21.74s
        53        4802.4101           21.59s
        54        4794.6587           21.46s
        55        4786.4602           21.33s
        56        4778.6035           21.19s
        57        4768.2461           21.06s
        58        4762.0724           20.92s
        59        4750.8662           20.78s
        60        4742.7954           20.68s
        61        4722.5261           20.54s
        62        4706.1245           20.41s
        63        4693.2175           20.26s
        64        4689.7374           20.12s
        65        4680.8512           19.98s
        66        4667.4649           19.84s
        67        4658.1944           19.73s
        68        4639.5741           19.60s
        69        4622.8626           19.47s
        70        4611.3183           19.34s
        71        4600.1532           19.21s
        72        4589.3178           19.08s
        73        4574.3557           18.95s
        74        4563.0664           18.81s
        75        4550.3465           18.67s
        76        4541.0645           18.55s
        77        4535.9529           18.42s
        78        4527.1867           18.29s
        79        4515.5180           18.16s
        80        4508.6632           18.04s
        81        4497.2922           17.91s
        82        4490.4693           17.79s
        83        4479.9279           17.66s
        84        4471.4467           17.54s
        85        4460.9213           17.41s
        86        4448.8211           17.28s
        87        4439.8499           17.15s
        88        4428.1203           17.03s
        89        4417.3006           16.91s
        90        4412.6214           16.78s
        91        4401.8432           16.64s
        92        4395.7458           16.53s
        93        4385.3606           16.40s
        94        4379.2095           16.28s
        95        4368.7178           16.16s
        96        4360.1875           16.03s
        97        4347.8276           15.90s
        98        4339.7523           15.77s
        99        4334.6083           15.65s
       100        4323.1424           15.52s
       101        4311.5478           15.39s
       102        4298.9597           15.27s
       103        4290.0534           15.13s
       104        4283.1580           15.01s
       105        4273.7921           14.87s
       106        4268.3851           14.75s
       107        4261.3649           14.62s
       108        4255.7852           14.51s
       109        4247.9903           14.38s
       110        4239.5420           14.26s
       111        4234.3255           14.13s
       112        4225.6422           14.00s
       113        4216.3615           13.86s
       114        4204.5165           13.73s
       115        4193.5936           13.61s
       116        4186.4913           13.48s
       117        4177.4706           13.35s
       118        4172.4727           13.22s
       119        4164.4578           13.09s
       120        4157.5465           12.96s
       121        4147.5706           12.83s
       122        4141.9266           12.70s
       123        4132.3684           12.57s
       124        4122.5908           12.44s
       125        4110.2551           12.30s
       126        4099.6100           12.17s
       127        4090.9793           12.03s
       128        4084.2634           11.91s
       129        4073.4454           11.77s
       130        4067.5325           11.65s
       131        4058.1731           11.53s
       132        4046.7300           11.40s
       133        4035.5240           11.26s
       134        4027.1156           11.13s
       135        4020.6127           11.00s
       136        4008.1185           10.87s
       137        4001.0774           10.74s
       138        3996.6922           10.61s
       139        3991.0412           10.48s
       140        3985.8160           10.35s
       141        3979.9437           10.22s
       142        3976.6154           10.09s
       143        3967.5085            9.96s
       144        3962.6549            9.83s
       145        3954.8887            9.69s
       146        3946.5516            9.57s
       147        3940.9654            9.44s
       148        3929.8616            9.31s
       149        3923.6258            9.18s
       150        3916.0583            9.05s
       151        3909.1178            8.92s
       152        3900.1939            8.78s
       153        3897.4789            8.66s
       154        3889.5318            8.53s
       155        3881.2423            8.40s
       156        3874.7425            8.27s
       157        3867.3269            8.14s
       158        3859.6704            8.01s
       159        3851.7396            7.87s
       160        3848.1216            7.75s
       161        3844.6045            7.62s
       162        3840.4606            7.49s
       163        3829.6573            7.36s
       164        3825.3921            7.23s
       165        3820.0215            7.10s
       166        3815.8925            6.97s
       167        3810.9997            6.84s
       168        3801.5829            6.71s
       169        3795.5694            6.59s
       170        3790.0130            6.46s
       171        3782.3295            6.33s
       172        3769.9858            6.21s
       173        3767.7008            6.08s
       174        3761.2803            5.95s
       175        3754.3847            5.82s
       176        3748.7231            5.69s
       177        3744.8830            5.56s
       178        3739.5527            5.43s
       179        3731.1875            5.30s
       180        3725.4927            5.17s
       181        3719.5959            5.04s
       182        3714.2147            4.91s
       183        3706.6286            4.78s
       184        3699.4777            4.65s
       185        3692.1354            4.52s
       186        3686.6859            4.40s
       187        3678.6194            4.27s
       188        3665.6136            4.14s
       189        3653.0194            4.01s
       190        3645.9023            3.88s
       191        3638.7795            3.75s
       192        3633.4731            3.62s
       193        3622.4614            3.49s
       194        3616.4861            3.36s
       195        3609.7416            3.23s
       196        3605.3372            3.10s
       197        3599.2648            2.97s
       198        3593.1901            2.85s
       199        3585.5864            2.72s
       200        3581.1533            2.59s
       201        3573.0614            2.46s
       202        3569.0326            2.33s
       203        3564.0290            2.20s
       204        3558.8864            2.07s
       205        3550.5378            1.94s
       206        3544.9102            1.81s
       207        3534.7529            1.68s
       208        3525.2112            1.55s
       209        3521.1383            1.42s
       210        3512.5208            1.29s
       211        3506.6741            1.16s
       212        3497.5570            1.03s
       213        3494.1324            0.91s
       214        3485.5414            0.78s
       215        3479.2632            0.65s
       216        3473.9007            0.52s
       217        3465.6260            0.39s
       218        3459.6366            0.26s
       219        3454.3383            0.13s
       220        3447.8307            0.00s

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.5, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=220,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=2,
                           warm_start=False)

In [244]:
classifier4 =  GradientBoostingClassifier(n_estimators=100,verbose=1,learning_rate=0.2)
classifier4.fit(ct2.transform(Train_X),Train_Y.pet_category)

      Iter       Train Loss   Remaining Time
         1       13422.7188           17.15s
         2       12307.7230           17.72s
         3       11550.2437           17.21s
         4       10938.9046           17.21s
         5       10471.5023           16.92s
         6       10083.7340           16.78s
         7        9759.7302           16.50s
         8        9442.3075           16.33s
         9        9131.9604           16.28s
        10        8928.8911           16.11s
        20        7620.0593           14.01s
        30        6968.7455           12.00s
        40        6591.3272           10.19s
        50        6316.9454            8.49s
        60        6076.2413            6.77s
        70        5905.9538            5.07s
        80        5772.2508            3.38s
        90        5658.3456            1.68s
       100        5543.0957            0.00s

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.2, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=1,
                           warm_start=False)

In [176]:
Train_Y.columns

Index(['breed_category', 'pet_category'], dtype='object')

In [177]:
Train_Y.breed_category

0        0.0
1        0.0
2        0.0
3        2.0
4        0.0
        ...
18830    0.0
18831    2.0
18832    1.0
18833    1.0
18834    1.0
Name: breed_category, Length: 18835, dtype: float64

In [274]:
Test_breed = classifier3.predict(ct2.transform(test1))
Test_cat = classifier4.predict(ct2.transform(test1))

In [269]:
Train_breed = classifier3.predict(ct2.transform(Train_X))
Train_cat = classifier4.predict(ct2.transform(Train_X))

In [272]:
met1 = confusion_matrix(Train_Y.breed_category,Train_breed)
met2 = confusion_matrix(Train_Y.pet_category,Train_cat)

In [273]:
met1

array([[8675,  288,   38],
       [ 456, 7866,   35],
       [ 244,  192, 1041]])

In [189]:
met2

array([[   19,     8,    50,    11],
       [    1,  5688,  1485,    11],
       [    1,   547, 10032,    41],
       [    0,    56,   196,   689]])

In [194]:
from sklearn.metrics import accuracy_score

In [270]:
acc = accuracy_score(Train_Y.breed_category,Train_breed)
acc1 = accuracy_score(Train_Y.pet_category,Train_cat)

In [271]:
acc

0.9334749137244491

In [251]:
acc1

0.8784178391292806